
<div [class]="{
    status:true,
    'status-online': currentStatus === 'online',
    'status-offline': currentStatus === 'offline',
    'status-unknown': currentStatus === 'unknown',
}">
    <div *ngIf="currentStatus === 'online';else fallback1">
        <p>{{online[0]}}</p>
        <p>{{online[1]}}</p>
    </div>
    <ng-template #fallback1>
        <div *ngIf="currentStatus === 'offline'; else fallback2">
            <p>{{offline[0]}}</p>
            <p>{{offline[1]}}</p>
        </div>
    </ng-template>
    
    <ng-template #fallback2>
        <p>{{unknown[0]}}</p>
        <p>{{unknown[1]}}</p>
    </ng-template>
    <!-- @if (currentStatus === 'online') {
        <p>Servers are online</p>
        <p>All systems are operational.</p>
    } @else if (currentStatus === 'offline') {
        <p>Servers are offline</p>
        <p>Functionality should be restored soon.</p>
    } @else {
        <p>Server status is unknown</p>
        <p>Fetching server status failed.</p>
    } -->
</div>


